name: ci

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  make:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Sage
        uses: einride/sage/actions/setup@master
        with:
          go-version-file: go.mod

      - name: Make
        run: make

      # Disabling since there is an issue with the token
      # - name: Report Code Coverage
      #   uses: codecov/codecov-action@v4
      #   with:
      #     file: .sage/build/go/coverage/go-test.txt
      #     fail_ci_if_error: true
      #     token: ${{ secrets.CODECOV_TOKEN }}
